.dices img {
    width: 24%;
    height: 30%;
    max-width: 300px;
    max-height: 300px;
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
}
.dices img:hover {
    cursor: pointer;
}

.diceResult {
    margin-top: 100px;
    font-size: 50px;
}

.dices {
    margin-right: 50px;
}

.Button{
    user-select: none;
    color: rgb(253, 253, 253);
    display: inline-block;
    padding: 25px 30px;
    font-size: 2rem;
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
}