body {
    background: linear-gradient(#e1e1ff, pink);
}

table.pattern-table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
    margin-bottom: 30px;
}
table.pattern-table,table.pattern-table td, table.pattern-table th {
    border: 1px solid #595959; }
table.pattern-table td,table.pattern-table th {
    min-height:35px;padding: 3px;
    width: 30px;
    height: 35px; }
table.pattern-table th {
    background: #347c99;
    color: #fff;
    font-weight: normal; }

.pattern-table {
    box-shadow: 10px 5px 5px red;
}

.pattern-table:hover {
    box-shadow: 10px 5px 5px #6c0000;
}

#pattern-table {
    margin-right: 10%;
    padding-top: 10%;
}